!!!
%html
  %head
    %title= @title
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %link{:href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css", :rel => "stylesheet"}/
      %script{:src => "http://code.jquery.com/jquery-1.7.1.min.js"}
      %script{:src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"}

  %body

    %div{"data-role" => "page", "data-dom-cache" => "true"}
      
      %div{"data-role" => "header", "data-position" => "inline"}
        %a{"data-icon" => "back", "data-rel" => "back", "data-theme" => "b"} Back
        %h1= @name

      %div{"data-role" => "content"}
        %img{:src => "#{@game.thumbnail}"}
        %br Game ID: #{@game.game_id}
        Image ID: #{@game.image_id}
        %p
        Year Published: #{@game.year_published}
        %br Number of Players: #{@game.min_players} - #{@game.max_players}
        Playing Time: #{@game.playing_time} minutes
        %br Mininum Age: #{@game.min_age} and up
        %p
        %strong Rankings
        %br Number of User Rakings: #{@game.users_rated} 
        Average Rating:  #{@game.average_rating}
        %p
        %strong Stats
        %br Owned: #{@game.owned}
        Trading: #{@game.trading}
        %br Wanting: #{@game.wanting}
        Wishing: #{@game.wishing}
        %p 
        %strong Description
        %br #{@game.description}
