!!!
%html
  %head
    %title= @title
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %link{:href => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css", :rel => "stylesheet"}/
      %script{:src => "http://code.jquery.com/jquery-1.7.1.min.js"}
      %script{:src => "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"}

  %body

    %div{"data-role" => "page", "data-dom-cache" => "true"}
      
      %div{"data-role" => "header", "data-position" => "inline"}
        %a{"data-icon" => "back", "data-rel" => "back", "data-theme" => "b"} Back
        %h1 Users

      %div{"data-role" => "content"}
        %img{:src => "#{@avatarLink}"}
        %p 
        First Name: #{@firstName} 
        %br Last Name: #{@lastName}
        Year Registered: #{@yearRegistered}
        %br Last Login: #{@lastLogin}
        State or Province: #{@stateOrProvince}
        %br Country: #{@country}
        Trade Rating: #{@tradeRating}
        %p
        %div{"data-content-theme" => "c", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 Hot List for #{@userName}
          %p= userHotList()
        %p
        %div{"data-content-theme" => "c", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 Top List for #{@userName}
          %p= userTopList()
        %p
        %div{"data-content-theme" => "c", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 #{@userName}'s GeekBuddies
          %p= userBuddyList()
        %div{"data-content-theme" => "c", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 #{@userName}'s Guilds
          %p= userGuildsList()